
@*
    _DefaultUIFeatureComponen
*@
<section id="featured-books" class="py-5 my-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class="section-header align-center">
					<div class="title">
						<span>Some quality items</span>
					</div>
					<h2 class="section-title">Featured Books</h2>
				</div>

				<div class="product-list" data-aos="fade-up">
					<div class="row">

						<div class="col-md-3">
							<div class="product-item">
								<figure class="product-style">
									<img src="~/booksaw/images/product-item1.jpg" alt="Books" class="product-item">
									<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
										Add to
										Cart
									</button>
								</figure>
								<figcaption>
									<h3>Simple way of piece life</h3>
									<span>Armor Ramsey</span>
									<div class="item-price">$ 40.00</div>
								</figcaption>
							</div>
						</div>

						<div class="col-md-3">
							<div class="product-item">
								<figure class="product-style">
									<img src="~/booksaw/images/product-item2.jpg" alt="Books" class="product-item">
									<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
										Add to
										Cart
									</button>
								</figure>
								<figcaption>
									<h3>Great travel at desert</h3>
									<span>Sanchit Howdy</span>
									<div class="item-price">$ 38.00</div>
								</figcaption>
							</div>
						</div>

						<div class="col-md-3">
							<div class="product-item">
								<figure class="product-style">
									<img src="~/booksaw/images/product-item3.jpg" alt="Books" class="product-item">
									<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
										Add to
										Cart
									</button>
								</figure>
								<figcaption>
									<h3>The lady beauty Scarlett</h3>
									<span>Arthur Doyle</span>
									<div class="item-price">$ 45.00</div>
								</figcaption>
							</div>
						</div>

						<div class="col-md-3">
							<div class="product-item">
								<figure class="product-style">
									<img src="~/booksaw/images/product-item4.jpg" alt="Books" class="product-item">
									<button type="button" class="add-to-cart" data-product-tile="add-to-cart">
										Add to
										Cart
									</button>
								</figure>
								<figcaption>
									<h3>Once upon a time</h3>
									<span>Klien Marry</span>
									<div class="item-price">$ 35.00</div>
								</figcaption>
							</div>
						</div>

					</div><!--ft-books-slider-->
				</div><!--grid-->


			</div><!--inner-content-->
		</div>

		<div class="row">
			<div class="col-md-12">

				<div class="btn-wrap align-right">
					<a href="#" class="btn-accent-arrow">
						View all products <i class="icon icon-ns-arrow-right"></i>
					</a>
				</div>

			</div>
		</div>
	</div>
</section>
