@model BookStore.WebUI.Dtos.UserDtos.UpdateProfilDto
@{
    ViewData["Title"] = "UpdateProfile";
    Layout = "~/Views/Shared/_BookLayout.cshtml";
}

<h1>Profil Güncelleme</h1>


<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Profil Bilgilerini Güncelle</h4>
        </div>
        <div class="card-body">
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">@TempData["SuccessMessage"]</div>
            }

            <form asp-area="User" asp-controller="UserProfile" asp-action="UpdateProfile" method="post">

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label>Ad</label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label>Soyad</label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label>Kullanıcı Adı</label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label>Email</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label>Profil Fotoğraf URL</label>
                            <input asp-for="ImageUrl" class="form-control" />
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                            <label>Mevcut Şifre</label>
                            <input asp-for="CurrentPassword" type="password" class="form-control" />
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label>Yeni Şifre</label>
                            <input asp-for="NewPassword" type="password" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                      
                    </div>
                </div>

                <button type="submit" class="btn btn-primary mt-3">Güncelle</button>
            </form>
        </div>
    </div>
</div>