@using BookStore.WebUI.Dtos.RegisterDtos

@{
    Layout = "~/Views/Shared/_BookLayout.cshtml";
}



@model RegisterDto

@{
    ViewData["Title"] = "Kayıt Ol";
}

<div class="container mt-5" style="max-width: 500px;">
    <h3 class="text-center mb-4">Kayıt Ol</h3>

    <form asp-action="Register" method="post" novalidate>
        <div asp-validation-summary="All" class="text-danger mb-3"></div>

        <div class="mb-3">
            <label asp-for="Adınız" class="form-label"></label>
            <input asp-for="Adınız" class="form-control" placeholder="Adınız" />
            <span asp-validation-for="Adınız" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Soyadınız" class="form-label"></label>
            <input asp-for="Soyadınız" class="form-control" placeholder="Soyadınız" />
            <span asp-validation-for="Soyadınız" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" placeholder="E-posta" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="KullanıcıAdı" class="form-label"></label>
            <input asp-for="KullanıcıAdı" class="form-control" placeholder="Kullanıcı Adı" />
            <span asp-validation-for="KullanıcıAdı"  class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Şifre" class="form-label"></label>
            <input asp-for="Şifre" class="form-control" type="password" placeholder="Şifre" />
            <span asp-validation-for="Şifre" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ŞifreTekrar" class="form-label"></label>
            <input asp-for="ŞifreTekrar" class="form-control" type="password" placeholder="Şifre Tekrar" />
            <span asp-validation-for="ŞifreTekrar" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary w-100">Kayıt Ol</button>
    </form>
</div>

