
@{
    Layout = null;
}

@{
    ViewData["Title"] = "Kayıt Onayı Gönderildi";
}

<div class="container mt-5" style="max-width: 500px;">
    <h3 class="text-center mb-4">Kayıt Başarılı!</h3>
    <p>
        Kayıt işleminiz başarılı. Lütfen email adresinize gönderilen onay linkine tıklayarak hesabınızı aktif hale getirin.
    </p>
</div>
