@model BookStore.WebUI.Dtos.CategoryDtos.CreateCategoryDto
@{
   Layout = "~/Views/AdminLayout/Layout.cshtml";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


<form method="post">
    <div class="container">

        <br />
        <label>Kategori ekle</label>
        <input type="text" asp-for="CategoryName" class="form-control" />
        <br />
        <button class="btn btn-primary">EKLE</button>


    </div>
</form>