@using BookStore.EntityLayer.Concrete
@using BookStore.WebUI.Dtos.SubscribeDtos
@model List<ResultSubscribeDto>
@{
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}
<h2>Aboneler</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Abonelik Tarihi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sub in Model)
        {
            <tr>
                <td>@sub.SubscribeId</td>
                <td>@sub.Mail</td>
                <td>@sub.SubcribeDate.ToString("dd.MM.yyyy HH:mm")</td>
            </tr>
        }
    </tbody>
</table>

<hr />

<h3>Tüm abonelere mail gönder</h3>
<form method="post" asp-action="SendsMail">
    <div class="mb-4">
        <label>Konu</label>
        <input  type="text" name="Subject" class="form-control" required/>

    </div>
    <div class="mb-3">
        <label>İçerik:</label>
        <textarea name="Body" class="form-control" rows="6" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Gönder</button>
</form>






