@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BookLayout.cshtml";
}
<!--Start Billboard-->
@await Component.InvokeAsync("_DefaultUIBillboardComponent")
<!--End Billboard-->
<!--Start İcons-->
<section id="client-holder" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="inner-content">
                <div class="logo-wrap">
                    <div class="grid">
                        <a href="#"><img src="~/booksaw/images/client-image1.png" alt="client"></a>
                        <a href="#"><img src="~/booksaw/images/client-image2.png" alt="client"></a>
                        <a href="#"><img src="~/booksaw/images/client-image3.png" alt="client"></a>
                        <a href="#"><img src="~/booksaw/images/client-image4.png" alt="client"></a>
                        <a href="#"><img src="~/booksaw/images/client-image5.png" alt="client"></a>
                    </div>
                </div><!--image-holder-->
            </div>
        </div>
    </div>
</section>
<!--End İcons-->
<!--Start Feature-->
@await Component.InvokeAsync("_DefaultUIFeatureComponent")
<!--End Feature-->
<!--Start Best-->
@await Component.InvokeAsync("_DefaultUIBestComponent")
<!--End Best-->
<!--Start Popular-->
@await Component.InvokeAsync("_DefaultUIPopularComponent")
<!--End Popular-->
<!--Start Quotation-->
@await Component.InvokeAsync("_DefaultUIQuotationComponent")
<!--End Quotation-->
<!--Start Subsciribe-->
<section id="subscribe">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-8">
                <div class="row">

                    <div class="col-md-6">

                        <div class="title-element">
                            <h2 class="section-title divider">Subscribe to our newsletter</h2>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="subscribe-content" data-aos="fade-up">
                            <p>
                                Sed eu feugiat amet, libero ipsum enim pharetra hac dolor sit amet, consectetur. Elit
                                adipiscing enim pharetra hac.
                            </p>
                            <form id="form">
                                <input type="text" name="email" placeholder="Enter your email addresss here">
                                <button class="btn-subscribe">
                                    <span>send</span>
                                    <i class="icon icon-send"></i>
                                </button>
                            </form>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!--End Subsciribe -->
