@model BookStore.WebUI.Dtos.ProductsDtos.GetRandomProductDto 
@*
    _DefaultUIBestComponent
*@

<section id="best-selling" class="leaf-pattern-overlay">
	<div class="corner-pattern-overlay"></div>
	<div class="container">
		<div class="row justify-content-center">

			<div class="col-md-8">

				<div class="row">
					
					<div class="col-md-6">
						<figure class="products-thumb">
							<img src="@Model.ImageUrl" alt="book" class="single-image">
						</figure>
					</div>

					<div class="col-md-6">
						<div class="product-entry">
							<h2 class="section-title divider">Admin Önerisi</h2>

							<div class="products-content">
								<div class="author-name">Yazar: </div>
								<h3 class="item-title">@Model.ProductName</h3>
								<p>
									
								</p>
								<div class="item-price">@Model.ProductPrice</div>
								<div class="btn-wrap">
									<a href="#" class="btn-accent-arrow">
										shop it now <i class="icon icon-ns-arrow-right"></i>
									</a>
								</div>
							</div>

						</div>
					</div>

				</div>
				<!-- / row -->

			</div>

		</div>
	</div>
</section>

