<section id="subscribe">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-8">
                <div class="row">

                    <div class="col-md-6">
                        <div class="title-element">
                            <h2 class="section-title divider">Blogumuza Abone olun</h2>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="subscribe-content" data-aos="fade-up">
                            <p>
                             BookSaw abonelik sizleri en son bilgiler , yazarlar , yeni çıkan kitaplar hakkında bilgilendirmeyi amaçlar
                            </p>

                            <form id="form" method="post" asp-action="/api/subscribe/addsubscribe">

                                <input type="email" name="Mail" placeholder="e-posta giriniz" required>
                                <button type="submit" class="btn-subscribe">
                                    <span>Gönder</span>
                                    <i class="icon icon-send"></i>
                                </button>
                            </form>

                     
                            <div id="message" style="margin-top:10px; font-weight:bold;"></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#form').submit(function (e) {
            e.preventDefault();  // Sayfanın yeniden yüklenmesini engelle

            var email = $('input[name="Mail"]').val();

            $.ajax({
                type: 'POST',
                  url: 'https://localhost:7293/api/subscribe/addsubscribe',  // Tamamen küçük harf
    
                data: { Mail: email },
                success: function (response) {
                    $('#message').css('color', 'green').text(response);
                    $('#form')[0].reset();  // Formu temizle
                },
                error: function (xhr) {
                    $('#message').css('color', 'red').text(xhr.responseText);
                }
            });
        });
    });
</script>
