@model BookStore.WebUI.Dtos.QuoteDtos.RandomQuoteDto
@*
    _DefaultUIQuotationComponent
*@

<section id="quotation" class="align-center pb-5 mb-5">
	<div class="inner-content">
		<h2 class="section-title divider">Günün Alıntısı</h2>


		<blockquote data-aos="fade-up">
		
				
			
			<q>
		@Model.Quotedtext
			</q>
			<div class="author-name">@Model.WriterQuote</div>
			
		</blockquote>
	</div>
</section>
