
@*
    _DefaultUIQuotationComponent
*@

<section id="quotation" class="align-center pb-5 mb-5">
	<div class="inner-content">
		<h2 class="section-title divider">Quote of the day</h2>
		<blockquote data-aos="fade-up">
			<q>
				“The more that you read, the more things you will know. The more that you learn, the more places
				you’ll go.”
			</q>
			<div class="author-name">Dr. Seuss</div>
		</blockquote>
	</div>
</section>
